parameters:
    level: 8
    paths:
        - collapsi-for-block-editor.php
        - includes
        - uninstall.php
    excludePaths:
        - vendor
        - node_modules
        - build
    bootstrapFiles:
        - vendor/szepeviktor/phpstan-wordpress/bootstrap.php
        - tests/phpstan-bootstrap.php

includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
